@import "https://fonts.googleapis.com/css?family=Merriweather+Sans|Merriweather:400,400i";
/*
Get the defined baseline for the font-family
*/
/*
Get the amount of top margin that needs to be applied for the baseline to sit on a gridline
*/
.baseline-grid {
  /*// === Reset ===
	@import "base/reset";
	
	// === Components ===
	@import "components/headers";
	@import "components/text";
	@import "components/lists";
	@import "components/tables";
	*/ }
  .baseline-grid h1 {
    font-size: 53px;
    margin-top: 45.185px;
    padding-top: 0;
    line-height: 64px;
    padding-bottom: 2.815px;
    margin-bottom: 24px; }
