@import "https://fonts.googleapis.com/css?family=Merriweather+Sans|Merriweather:400,400i";
.baseline-grid {
  /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/ }
  .baseline-grid div, .baseline-grid span,
  .baseline-grid h1, .baseline-grid h2, .baseline-grid h3, .baseline-grid h4, .baseline-grid h5, .baseline-grid h6, .baseline-grid p,
  .baseline-grid blockquote, .baseline-grid pre, .baseline-grid a, .baseline-grid abbr, .baseline-grid acronym, .baseline-grid address, .baseline-grid big, .baseline-grid cite, .baseline-grid code, .baseline-grid del, .baseline-grid dfn, .baseline-grid em, .baseline-grid img, .baseline-grid ins, .baseline-grid kbd,
  .baseline-grid q, .baseline-grid s, .baseline-grid samp, .baseline-grid small, .baseline-grid strike, .baseline-grid strong, .baseline-grid sub, .baseline-grid sup, .baseline-grid tt, .baseline-grid var, .baseline-grid b, .baseline-grid u, .baseline-grid i,
  .baseline-grid dl, .baseline-grid dt, .baseline-grid dd, .baseline-grid ol, .baseline-grid ul, .baseline-grid li,
  .baseline-grid table, .baseline-grid caption, .baseline-grid tbody, .baseline-grid tfoot, .baseline-grid thead, .baseline-grid tr, .baseline-grid th, .baseline-grid td,
  .baseline-grid main, .baseline-grid article, .baseline-grid embed, .baseline-grid figure, .baseline-grid figcaption, .baseline-grid footer, .baseline-grid header, .baseline-grid hgroup,
  .baseline-grid section, .baseline-grid summary, .baseline-grid time, .baseline-grid mark, .baseline-grid audio, .baseline-grid video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline; }
  .baseline-grid {
    font-size: 8px; }
  .baseline-grid h1, .baseline-grid h2, .baseline-grid h3, .baseline-grid h4, .baseline-grid h5, .baseline-grid h6 {
    font-family: "Merriweather Sans", Helvetica, Arial, sans-serif; }
  .baseline-grid h1, .baseline-grid h2, .baseline-grid h3, .baseline-grid h4 {
    color: #bd2d2d; }
  .baseline-grid h1 {
    font-size: 53px;
    line-height: 64px;
    margin-top: 8px; }
  .baseline-grid table.table {
    border-collapse: collapse;
    border-spacing: 0; }
