/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import "https://fonts.googleapis.com/css?family=Fira+Sans:300,400";
html, body {
  margin: 0;
  padding: 0; }

div, span,
h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd,
q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i,
dl, dt, dd, ol, ul, li,
table, caption, tbody, tfoot, thead, tr, th, td,
main, article, embed, figure, figcaption, footer, header, hgroup,
section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/*
    PLUMBER - CSS Baseline Grid
*/
html {
  font-size: 9px; }

body {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.2) 0, transparent 1px);
  background-size: 100% 1rem; }

main {
  box-sizing: border-box;
  width: 100%;
  max-width: 640px;
  margin: 0 auto;
  padding: 0 40px; }

@media (max-width: 640px) {
  main {
    padding: 0 2rem; } }

h1, h2, h3 {
  font-family: "Fira Sans", Helvetica, Arial, sans-serif;
  font-weight: 300; }

h1, h2, h3 {
  color: #585858; }

h1 {
  font-size: 4rem;
  margin-top: 5rem;
  padding-top: 0.4rem;
  line-height: 5rem;
  padding-bottom: 0.6rem;
  margin-bottom: 3rem; }

h2 {
  font-size: 2.66667rem;
  margin-top: 3.76667rem;
  padding-top: 0;
  line-height: 3rem;
  padding-bottom: 0.23333rem;
  margin-bottom: 2rem; }

h3 {
  font-size: 2rem;
  margin-top: 2.95rem;
  padding-top: 0;
  line-height: 3rem;
  padding-bottom: 0.05rem;
  margin-bottom: 1rem; }

table.table {
  border-collapse: collapse;
  border-spacing: 0; }

p {
  font-family: "Fira Sans", Helvetica, Arial, sans-serif;
  font-size: 2rem;
  margin-top: -0.05rem;
  padding-top: 0;
  line-height: 3rem;
  padding-bottom: 0.05rem;
  margin-bottom: 1rem; }
