@import url("https://fonts.googleapis.com/css?family=Lora:700i|Lato:400,700|Inconsolata");
html, body {
  margin: 0;
  padding: 0; }

div, span,
h1, h2, h3, h4, h5, h6, p,
pre, a, code, em, img,
q, s, small, strike, strong, table th, sub, sup,
dl, dt, dd, ol, ul, li,
table, caption, tbody, tfoot, thead, tr, th, td,
main, article, embed, figure, figcaption, footer, header, hgroup,
section, summary, time, mark, audio, video,
input, textarea {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box; }

header {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
  height: 40px;
  line-height: 40px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  font-size: 16px;
  padding: 0 30px;
  text-transform: uppercase;
  z-index: 1000; }
  @media (max-width: 639px) {
    header {
      font-size: 14px;
      padding: 0 6px; } }
  header ul {
    list-style: none;
    display: flex;
    justify-content: flex-end; }
    @media (max-width: 639px) {
      header ul {
        justify-content: center; } }
  header li {
    display: inline-block;
    text-align: center; }
    @media (max-width: 639px) {
      header li {
        flex-grow: 1; } }
  header a {
    text-decoration: none;
    display: inline-block;
    height: 40px;
    padding: 0 20px; }
    @media (max-width: 639px) {
      header a {
        padding: 0 6px; } }
  header img.github {
    width: 30px;
    height: 30px;
    margin-top: 5px; }

html {
  font-size: 10px;
  font-family: "Lato", sans-serif;
  font-weight: 400; }

main h1, main h2, main h3 {
  font-family: "Lora", serif;
  font-style: italic;
  font-weight: 700;
  color: #606060;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always; }

main h1 {
  font-size: 48px;
  line-height: 50px;
  margin-top: 40px;
  padding-top: 6.75px;
  padding-bottom: 3.25px;
  margin-bottom: 40px; }

main h2 {
  font-size: 32px;
  line-height: 40px;
  margin-top: 50px;
  padding-top: 7.75px;
  padding-bottom: 2.25px;
  margin-bottom: 20px; }

main h3 {
  font-size: 25px;
  line-height: 30px;
  margin-top: 40px;
  padding-top: 5.5px;
  padding-bottom: 4.5px;
  margin-bottom: 20px; }

main p {
  font-size: 20px;
  line-height: 30px;
  margin-top: -10px;
  padding-top: 7.25px;
  padding-bottom: 2.75px;
  margin-bottom: 20px; }

main p.note,
main figcaption {
  font-size: 16px;
  line-height: 30px;
  margin-top: -20px;
  padding-top: 8.75px;
  padding-bottom: 1.25px;
  margin-bottom: 20px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
  color: #606060; }

main ul {
  margin-top: calc(20px - 0px);
  padding-top: 0px;
  margin-bottom: calc(30px - 0px);
  padding-bottom: 0px; }

main li {
  font-size: 20px;
  line-height: 30px;
  margin-top: -10px;
  padding-top: 7.25px;
  padding-bottom: 2.75px;
  margin-bottom: 10px;
  margin-left: 1em; }

main strong, main table th, table main th {
  font-weight: 700; }

main span.note-sign {
  color: #606060; }

main a {
  color: #2d9cdb; }

.table-wrapper {
  font-size: 17px;
  line-height: 30px;
  margin-top: 0px;
  padding-top: 8.5px;
  padding-bottom: 1.5px;
  margin-bottom: 20px; }

table {
  margin-bottom: -1px;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed; }
  table col.quarter {
    width: 25%; }
  table col.three-quarters {
    width: 75%; }
  table th, table td {
    text-align: left;
    vertical-align: top;
    padding: calc(10px - 1px) 0.5rem 10px;
    border-bottom: 1px solid #c0c0c0; }
    table th:first-child, table td:first-child {
      padding-left: 0; }
    table th .numeral, table td .numeral {
      text-align: right; }
  table th {
    border-color: #606060; }
  table thead th {
    padding-top: 10px; }

table.compact {
  margin-top: 5px;
  border: none; }
  table.compact th, table.compact td, table.compact thead th {
    border: none;
    padding: 5px 20px 5px;
    font-weight: 400; }
  table.compact tr:nth-child(odd) {
    background-color: #f4f4f4; }
  table.compact tr:hover {
    background-color: #f2c94c; }

body {
  background-color: #fcfcfc; }
  body.grid {
    background-image: linear-gradient(to top, rgba(242, 201, 76, 0.5) 0, transparent 1px);
    background-size: 100% 10px; }

main {
  width: 100%;
  max-width: 70rem;
  margin: 50px auto;
  padding: 0 40px;
  overflow: hidden; }
  @media (max-width: 70rem) {
    main {
      padding: 0 20px; } }

header {
  font-family: "Lato", sans-serif;
  background: #303030;
  height: 44px;
  border-bottom: 4px solid #f2c94c; }
  header a {
    color: #fcfcfc; }
    header a.active, header a:hover {
      color: #f2c94c; }

figure img {
  display: block;
  margin-top: 30px;
  margin-bottom: 20px;
  width: 320px; }
  figure img.leading-origin, figure img.terms {
    height: 280px; }
  figure img.font-anatomy {
    height: 100px; }

.toggle-grid {
  width: 36px;
  height: 36px;
  border-radius: 24px;
  position: fixed;
  right: 20px;
  bottom: 20px;
  background-color: #f2c94c;
  color: #606060;
  text-align: center;
  font-size: 12px;
  text-transform: uppercase;
  line-height: 36px;
  cursor: pointer;
  -webkit-backface-visibility: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  @media (max-width: 639px) {
    .toggle-grid {
      right: 10px;
      bottom: 10px; } }
  .toggle-grid:hover {
    color: #303030; }

pre[class*="language-"] {
  font-size: 18px;
  line-height: 30px;
  margin-top: -10px;
  padding-top: 9px;
  padding-bottom: 1px;
  margin-bottom: 20px;
  min-height: 60px; }

code {
  color: #606060;
  background-color: #f4f4f4;
  font-family: "Inconsolata", monospace;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none; }

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code::-moz-selection, code ::-moz-selection {
  background: #b3d4fc; }

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code::selection, code ::selection {
  background: #b3d4fc; }

pre[class*="language-"] > code {
  margin-top: calc(0px - 0px);
  padding-top: 10px;
  margin-bottom: calc(0px - 0px);
  padding-bottom: 10px;
  padding-left: 16px;
  border-left: 4px solid #c0c0c0;
  overflow-x: auto;
  display: block; }

:not(pre) > code {
  padding: 1px 4px 2px;
  margin-bottom: -4px;
  white-space: normal;
  line-height: 1; }

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #c0c0c0; }

/*
.token.punctuation {
	color: $color-medium;
}

.namespace {
	opacity: .7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
	color: $color-dark;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
	color: #27ae60;
	color: $color-medium;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
	color: #eb5757;
	color: $color-medium;
}

.token.atrule,
.token.attr-value,
.token.keyword {
	color: #2d9cdb;
	color: $color-medium;
}

.token.function {
	color: #eb5757;
	color: $color-medium;
}

.token.regex,
.token.important,
.token.variable {
	color: $color-dark;
}


.token.important,
.token.bold {
	font-weight: bold;
}
.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}
*/
