/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import "https://fonts.googleapis.com/css?family=Merriweather+Sans|Merriweather:400,400i";
html, body {
  margin: 0;
  padding: 0; }

div, span,
h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd,
q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i,
dl, dt, dd, ol, ul, li,
table, caption, tbody, tfoot, thead, tr, th, td,
main, article, embed, figure, figcaption, footer, header, hgroup,
section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/*
    PLUMBER - CSS Baseline Grid
*/
body {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0, transparent 1px);
  background-size: 100% 0.5rem; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Merriweather Sans", Helvetica, Arial, sans-serif; }

h1, h2, h3, h4 {
  color: #bd2d2d; }

h5, h6 {
  color: #585858; }

h1 {
  font-size: 3.3125rem;
  margin-top: 2.82406rem;
  padding-top: 0;
  line-height: 4rem;
  padding-bottom: 0.17594rem;
  margin-bottom: 1.5rem; }

h2 {
  font-size: 1.9375rem;
  margin-top: 1.31219rem;
  padding-top: 0;
  line-height: 3rem;
  padding-bottom: 0.18781rem;
  margin-bottom: 0.5rem; }

h3 {
  font-size: 1.3125rem;
  margin-top: 1.5rem;
  padding-top: 0.03406rem;
  line-height: 2rem;
  padding-bottom: 0.46594rem;
  margin-bottom: 0.5rem; }

table.table {
  border-collapse: collapse;
  border-spacing: 0; }

p {
  font-family: "Merriweather", Georgia, Times, serif; }

p {
  font-size: 1rem;
  margin-top: -0.105rem;
  padding-top: 0;
  line-height: 1.5rem;
  padding-bottom: 0.105rem;
  margin-bottom: 0.5rem; }
