/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Lora:700i|Lato|Inconsolata");
html, body {
  margin: 0;
  padding: 0; }

div, span,
h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd,
q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i,
dl, dt, dd, ol, ul, li,
table, caption, tbody, tfoot, thead, tr, th, td,
main, article, embed, figure, figcaption, footer, header, hgroup,
section, summary, time, mark, audio, video,
input, textarea {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box; }

body {
  background-color: #fcfcfc; }

main {
  width: 100%;
  max-width: 70rem;
  margin: 80px auto 0;
  padding: 0 40px;
  overflow: hidden; }
  @media (max-width: 70rem) {
    main {
      padding: 0 20px; } }

html {
  font-size: 10px;
  font-family: "Lato", sans-serif;
  font-weight: 400; }

h1, h2, h3 {
  font-family: "Lora", serif;
  font-style: italic;
  font-weight: 700;
  color: #606060;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always; }

h1 {
  font-size: 4.8rem;
  line-height: 5rem;
  margin-top: calc(4 * 1rem);
  padding-top: calc(0.6808 * 1rem);
  padding-bottom: calc(0.3192 * 1rem);
  margin-bottom: calc(4 * 1rem); }

h2 {
  font-size: 3rem;
  line-height: 4rem;
  margin-top: calc(3 * 1rem);
  padding-top: calc(0.863 * 1rem);
  padding-bottom: calc(0.137 * 1rem);
  margin-bottom: calc(2 * 1rem); }

h3 {
  font-size: 2.4rem;
  line-height: 3rem;
  margin-top: calc(3 * 1rem);
  padding-top: calc(0.5904 * 1rem);
  padding-bottom: calc(0.4096 * 1rem);
  margin-bottom: calc(1 * 1rem); }

p, li {
  font-size: 2rem;
  line-height: 3rem;
  margin-top: calc(-1 * 1rem);
  padding-top: calc(0.726 * 1rem);
  padding-bottom: calc(0.274 * 1rem);
  margin-bottom: calc(1 * 1rem); }

ul {
  margin-top: 2rem;
  margin-bottom: 3rem; }

li {
  margin-left: 1em; }

blockquote {
  margin-top: calc(0rem - 0px);
  padding-top: 1rem;
  margin-bottom: calc(2rem - 0px);
  padding-bottom: 1rem;
  background-color: rgba(192, 192, 192, 0.5);
  padding-left: 2em;
  padding-right: 2em; }
  blockquote p {
    font-size: 1.5rem;
    line-height: 3rem;
    margin-top: calc(-1 * 1rem);
    padding-top: calc(0.9195 * 1rem);
    padding-bottom: calc(0.0805 * 1rem);
    margin-bottom: calc(0 * 1rem); }

.table-wrapper {
  font-size: 2rem;
  line-height: 3rem;
  margin-top: calc(0 * 1rem);
  padding-top: calc(0.726 * 1rem);
  padding-bottom: calc(0.274 * 1rem);
  margin-bottom: calc(2 * 1rem); }

table {
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
  font-size: 2rem;
  line-height: 3rem; }
  table col {
    width: 25%; }
  table thead tr {
    border-bottom-color: #f2c94c; }
  table th, table td {
    text-align: left;
    vertical-align: top;
    padding-left: 1rem; }

pre[class*="language-"] {
  font-size: 2rem;
  line-height: 3rem;
  margin-top: calc(-1 * 1rem);
  padding-top: calc(0.726 * 1rem);
  padding-bottom: calc(0.274 * 1rem);
  margin-bottom: calc(1 * 1rem);
  border-left: 4px solid #f2c94c;
  padding-left: 2rem; }

code {
  color: #2a2a2a;
  background: none;
  font-family: "Lato", monospace;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none; }

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code::-moz-selection, code ::-moz-selection {
  background: #b3d4fc; }

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code::selection, code ::selection {
  background: #b3d4fc; }

pre[class*="language-"] > code {
  overflow: auto;
  line-height: inherit;
  display: block; }

:not(pre) > code {
  padding: 1px 4px 2px;
  margin-bottom: -4px;
  white-space: normal;
  line-height: 1; }

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #c0c0c0; }

.token.punctuation {
  color: #606060; }

.namespace {
  opacity: .7; }

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: #606060; }

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #27ae60; }

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #eb5757; }

.token.atrule,
.token.attr-value,
.token.keyword {
  color: #2d9cdb; }

.token.function {
  color: #eb5757; }

.token.regex,
.token.important,
.token.variable {
  color: #2a2a2a; }

.token.important,
.token.bold {
  font-weight: bold; }

.token.italic {
  font-style: italic; }

.token.entity {
  cursor: help; }
