@import url("https://fonts.googleapis.com/css?family=Lora:700i|Lato:400");
html, body {
  margin: 0;
  padding: 0; }

div, span,
h1, h2, h3, h4, h5, h6, p,
pre, a, code, em, img,
q, s, small, strike, strong, sub, sup,
dl, dt, dd, ol, ul, li,
table, caption, tbody, tfoot, thead, tr, th, td,
main, article, embed, figure, figcaption, footer, header, hgroup,
section, summary, time, mark, audio, video,
input, textarea {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box; }

header {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
  height: 40px;
  line-height: 40px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  font-size: 2rem;
  padding: 0 30px;
  text-transform: uppercase;
  z-index: 1000; }
  @media (max-width: 639px) {
    header {
      padding: 0 8px; } }
  header ul {
    list-style: none;
    display: flex;
    justify-content: flex-end; }
  header li {
    display: inline-block;
    text-align: center; }
    @media (max-width: 639px) {
      header li {
        flex-grow: 1; } }
  header a {
    text-decoration: none;
    display: inline-block;
    height: 40px;
    padding: 0 20px; }
    @media (max-width: 639px) {
      header a {
        padding: 0 8px; } }
  header img.github {
    width: 30px;
    height: 30px;
    margin-top: 5px; }

html {
  font-size: 8px; }

html, body {
  overflow: hidden; }

main {
  width: 100vw;
  background: #f2c94c;
  overflow: hidden;
  min-height: 100vh; }

section {
  width: 100%; }

header {
  background: transparent;
  color: #fcfcfc;
  font-family: "Lato", sans-serif;
  position: absolute; }
  header a {
    color: inherit; }
    header a:hover, header a.active {
      color: #606060; }

.panel {
  height: calc(100vh - 240px);
  position: absolute;
  z-index: 150;
  display: none;
  background-color: #f2c94c;
  top: 0;
  left: 0; }
  .panel h1, .panel p {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smooth: always;
    font-family: "Lora", serif;
    font-weight: 700;
    color: #303030;
    position: absolute;
    bottom: 40px;
    left: 4rem;
    font-style: italic; }
    @media (max-width: 1100px) {
      .panel h1, .panel p {
        bottom: 20px;
        left: 2rem; } }
  .panel h1 {
    font-size: 6rem; }
  .panel p {
    font-size: 3rem; }

.show-intro .intro,
.show-loading .loading,
.show-error .error {
  display: block; }

.measure-area {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
  position: relative;
  height: calc(100vh - 240px); }
  .measure-area .letter {
    font-size: 1000px;
    line-height: 1000px;
    color: #303030;
    font-weight: 400;
    font-style: italic;
    position: absolute;
    z-index: 1;
    text-align: right;
    right: 50%;
    bottom: 24px;
    z-index: 1;
    pointer-events: none; }
  .measure-area .ruler {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    cursor: -webkit-grab;
    cursor: -moz-grab;
    cursor: grab;
    z-index: 100;
    display: flex; }
    .measure-area .ruler.is-dragging {
      cursor: -webkit-grabbing;
      cursor: -moz-grabbing;
      cursor: grabbing; }
    .measure-area .ruler hr {
      border: none;
      border-top: 2px dashed #fcfcfc;
      margin-top: 24px;
      width: 100%; }
    .measure-area .ruler .ruler-box {
      font-family: "Lato", sans-serif;
      font-weight: 400;
      color: #fcfcfc;
      position: absolute;
      bottom: 11px;
      right: 25%;
      background-color: #f2c94c;
      width: 100px;
      height: 28px;
      font-size: 32px;
      line-height: 28px;
      text-align: center; }

.instructions {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
  background: #303030;
  height: 240px;
  position: absolute;
  top: calc(100vh - 240px);
  left: 0;
  padding: 2rem;
  color: #c0c0c0;
  z-index: 300;
  overflow: hidden; }
  .instructions h1 {
    font-size: 3rem;
    line-height: 3rem;
    margin-top: 0rem;
    padding-top: 0.363rem;
    padding-bottom: 0.637rem;
    margin-bottom: 2rem;
    font-family: "Lora", serif;
    text-align: center; }
  .instructions .steps {
    display: flex;
    justify-content: center;
    align-content: flex-start;
    flex-wrap: wrap; }
  .instructions .step {
    font-family: "Lato", sans-serif;
    width: 320px;
    margin: 50px 20px;
    flex-grow: 1; }
    @media (max-width: 1100px) {
      .instructions .step {
        width: 100%;
        margin: 0; } }
  .instructions p {
    font-size: 2rem;
    line-height: 3rem;
    margin-top: -1rem;
    padding-top: 0.742rem;
    padding-bottom: 0.258rem;
    margin-bottom: 1rem; }
  .instructions a {
    text-decoration: none;
    color: #f2c94c; }
    .instructions a:hover {
      text-decoration: underline; }
  .instructions .fields {
    margin: -1rem 0 1rem; }
    .instructions .fields:last-child {
      margin-top: 2rem; }
  .instructions input[type=text] {
    height: 3rem;
    background: transparent;
    border: none;
    border-bottom: 1px solid #c0c0c0;
    font-size: 2rem;
    color: #fcfcfc;
    margin-right: 2rem;
    border-radius: 0; }
    .instructions input[type=text].font-name {
      width: 16rem; }
    .instructions input[type=text].font-weight {
      width: 8rem; }
    .instructions input[type=text]:placeholder-shown {
      color: #606060; }
  .instructions label {
    font-size: 2rem; }
  .instructions input[type=checkbox] {
    margin-right: 0.5rem;
    vertical-align: bottom;
    width: 3rem;
    height: 3rem; }
  .instructions select {
    margin-right: 2rem;
    height: 3rem;
    width: 16rem;
    font-family: "Lato", sans-serif;
    font-size: 2rem; }
  .instructions button {
    height: 3rem;
    font-family: "Lato", sans-serif;
    font-size: 2rem;
    background: #fcfcfc;
    color: #303030;
    font-weight: 700;
    border: none;
    width: 8rem;
    border-radius: 1px; }

@media (max-width: 359px) {
  .instructions input[type=text], .instructions select, .instructions button {
    margin-right: 1rem; } }
