@import url("https://fonts.googleapis.com/css?family=Lora:400i,700i|Lato:400,700");
html, body {
  margin: 0;
  padding: 0; }

div, span,
h1, h2, h3, h4, h5, h6, p,
pre, a, code, em, img,
q, s, small, strike, strong, sub, sup,
dl, dt, dd, ol, ul, li,
table, caption, tbody, tfoot, thead, tr, th, td,
main, article, embed, figure, figcaption, footer, header, hgroup,
section, summary, time, mark, audio, video,
input, textarea {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box; }

html {
  font-size: 8px; }

main {
  width: 100vw;
  background: #f2c94c;
  overflow: hidden;
  min-height: 100vh; }

section {
  width: 100%; }

.measure-area {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
  position: relative;
  height: calc(100vh - 260px); }
  .measure-area .letter {
    font-size: 1000px;
    line-height: 1000px;
    color: #303030;
    font-weight: 400;
    font-style: italic;
    position: absolute;
    z-index: 1;
    text-align: right;
    right: 50%;
    bottom: 24px;
    z-index: 1;
    pointer-events: none; }
  .measure-area .ruler {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    cursor: -webkit-grab;
    cursor: -moz-grab;
    cursor: grab;
    z-index: 100;
    display: flex; }
    .measure-area .ruler.is-dragging {
      cursor: -webkit-grabbing;
      cursor: -moz-grabbing;
      cursor: grabbing; }
    .measure-area .ruler hr {
      border: none;
      border-top: 2px dashed #fcfcfc;
      margin-top: 24px;
      width: 100%; }
    .measure-area .ruler .ruler-box {
      font-family: "Lato", sans-serif;
      font-weight: 400;
      color: #fcfcfc;
      position: absolute;
      bottom: 11px;
      right: 25%;
      background-color: #f2c94c;
      width: 100px;
      height: 28px;
      font-size: 32px;
      line-height: 28px;
      text-align: center;
      cursor: text; }

.instructions {
  background: #303030;
  min-height: 200px;
  position: absolute;
  top: calc(100vh - 200px);
  left: 0;
  padding: 2rem;
  color: #c0c0c0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
  z-index: 300; }
  .instructions h1 {
    font-family: "Lora", serif;
    text-align: center;
    font-size: 3rem;
    line-height: 3rem;
    margin-top: 0rem;
    padding-top: 0.363rem;
    padding-bottom: 0.637rem;
    margin-bottom: 2rem; }
  .instructions .steps {
    display: flex;
    justify-content: center;
    align-content: flex-start;
    flex-wrap: wrap; }
  .instructions p {
    font-family: "Lato", sans-serif;
    font-size: 2rem;
    line-height: 3rem;
    margin-top: -1rem;
    padding-top: 0.742rem;
    padding-bottom: 0.258rem;
    margin-bottom: 1rem;
    width: 320px; }
    @media (max-width: 1180px) {
      .instructions p {
        margin-left: auto;
        margin-right: auto; } }
    @media (max-width: 1100px) {
      .instructions p {
        width: 100%; } }
  .instructions a {
    text-decoration: none;
    color: #f2c94c; }
    .instructions a:hover {
      text-decoration: underline; }
  .instructions input[type=text] {
    width: 10rem;
    height: 3rem; }
