// === Theme ===
@import "themes/colors/classic";
@import "themes/fonts/merriweather";

// === Helpers ===
@import "helpers/baselines";
@import "helpers/functions";
@import "helpers/variables";
@import "helpers/mixins";

#{$namespace} {
	/*// === Reset ===
	@import "base/reset";
	
	// === Components ===
	@import "components/headers";
	@import "components/text";
	@import "components/lists";
	@import "components/tables";
	*/
	@include plumber(
		$module: 8px,
		$tags: (
			"h1": (
				font-family: $header-font-family,
				font-size: 6.625,
				leading-top: 6,
				line-height: 8,
				leading-bottom: 3
			)
		)
	);
}