header {
	//background: $color-background;
	background: transparent;
	color: $color-background;
	font-family: $body-font;
	position: absolute;

	a {
		color: inherit;

		&:hover,
		&.active {
			color: $color-medium;
		}
	}

}