header {
	//background: $color-background;
	background: transparent;
	color: $color-background;
	font-family: $body-font;
	position: absolute;

	a {
		color: inherit;
		opacity: 0.7;

		&:hover,
		&.active {
			opacity: 1;
		}

		&:hover {
			border-bottom-width: 1px;
			border-bottom-style: solid;
		}
	}

}