header {
	//background: $color-background;
	background: transparent;
	color: $color-background;
	font-family: $body-font;

	a {
		color: inherit;
		opacity: 0.7;

		&:hover,
		&.active {
			opacity: 1;
		}

		&.active {
			border-bottom: none;
		}
	}

}