.instructions {
    @include font-smoothing;
    background: $color-dark;
    height: $instructions-height;
    position: absolute;
    top: calc(100vh - #{$instructions-height});
    left: 0;
    padding: 2rem;
    color: $color-light;
    z-index: 300;


    h1 {
        @include plumber(
            $font-size: 3,
            $leading-top: 0,
            $line-height: 3,
            $leading-bottom: 3,
            $baseline: $header-baseline
        );
        font-family: $header-font;
        text-align: center;
    }

    .steps {
        display: flex;
        justify-content: center;
        align-content: flex-start;
        flex-wrap: wrap;
    }

    .step {
        font-family: $body-font;
        width: 320px;
        margin: 50px 20px;
        flex-grow: 1;
        @media (max-width: 1100px) {
            width: 100%;
            margin: 0;
        }
    }

    p {
        @include plumber(
            $font-size: 2,
            $leading-top: 0,
            $line-height: 3,
            $leading-bottom: 1,
            $baseline: $header-baseline
        );
    }

    a {
        text-decoration: none;
        color: $color-accent;

        &:hover {
            text-decoration: underline;
        }
    }

    .fields {
        margin: -1rem 0 1rem;

        &:last-child {
            margin-top: 2rem;
        }
    }

    input[type=text],
    input[type=number] {
        height: 3rem;
        background: transparent;
        border: none;
        border-bottom: 1px solid $color-light;
        font-size: 2rem;
        color: $color-background;
        margin-right: 2rem;
    
        &.font-name {
            width: 16rem;
        }

        &.font-weight {
            width: 8rem;
        }

        &:placeholder-shown {
            color: $color-medium;
        }
        border-radius: 0;
    }

    label {
        font-size: 2rem;
    }

    input[type=checkbox] {
        margin-right: 0.5rem;
        vertical-align: bottom;
        width: 3rem;
        height: 3rem;
    }

    select {
        margin-right: 2rem;
        height: 3rem;
        width: 16rem;
        font-family: $body-font;
        font-size: 2rem;
    }

    button {
        height: 3rem;
        font-family: $body-font;
        font-size: 2rem;
        background: $color-background;
        color: $color-dark;
        font-weight: 700;
        border: none;
        width: 8rem;
        border-radius: 1px;
    }

}