.instructions {
    background: $color-dark;
    min-height: 200px;
    position: absolute;
    top: calc(100vh - 200px);
    left: 0;
    padding: 2rem;
    color: $color-light;
    @include font-smoothing;
    z-index: 300;


    h1 {
        font-family: $header-font;
        text-align: center;
        @include plumber(
            $font-size: 3,
            $leading-top: 0,
            $line-height: 3,
            $leading-bottom: 3,
            $baseline: $header-baseline
        );
    }

    .steps {
        display: flex;
        justify-content: center;
        align-content: flex-start;
        flex-wrap: wrap;
    }

    p {
        font-family: $body-font;
        @include plumber(
            $font-size: 2,
            $leading-top: 0,
            $line-height: 3,
            $leading-bottom: 1,
            $baseline: $header-baseline
        );
        width: 320px;

        @media (max-width: 1180px) {
            margin-left: auto;
            margin-right: auto;
        }

        @media (max-width: 1100px) {
            width: 100%;
        }
    }

    a {
        text-decoration: none;
        color: $color-accent;

        &:hover {
            text-decoration: underline;
        }
    }

    input[type=text] {
        width: 10rem;
        height: 3rem;
    }

}