.instructions {
    background: $color-dark;
    height: $instructions-height;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 5rem 20px 0;
    color: $color-light;
    @include font-smoothing;
    overflow: hidden;

    h1 {
        font-family: $font-header;
        text-align: center;
        @include plumber(
            $font-size: 3,
            $leading-top: 0,
            $line-height: 3,
            $leading-bottom: 3,
            $baseline: $baseline-header
        );
    }

    .steps {
        display: flex;
        justify-content: center;
        align-content: flex-start;
        flex-wrap: wrap;
    }

    p {
        font-family: $font-body;
        @include plumber(
            $font-size: 2,
            $leading-top: 0,
            $line-height: 3,
            $leading-bottom: 0,
            $baseline: $baseline-header
        );
        width: 320px;
        margin: 0 30px 1rem;

        @media (max-width: 1180px) {
            margin-left: auto;
            margin-right: auto;
        }

        @media (max-width: 1100px) {
            width: 100%;
        }
    }

    textarea {
        -webkit-appearance: none;
        background: transparent;
        width: 320px;
        border: 1px solid $color-medium;
        resize: none;
        height: 42px;
        word-break: break-all;
        padding-left: 1rem;
        padding-right: 1rem;
        @include plumber(
            $font-size: 1.75,
            $leading-top: 1,
            $line-height: 2,
            $leading-bottom: 0,
            $baseline: $baseline-body
        );
        // override top margin
        margin-top: 9px;

        @media (max-width: 1100px) {
            height: 24px;
            @include plumber(
                $font-size: 1.75,
                $leading-top: 0,
                $line-height: 2,
                $leading-bottom: 0,
                $baseline: $baseline-body
            );
            position: relative;
            top: 7px;
        }
    }

    a {
        text-decoration: none;
        color: $color-accent;

        &:hover {
            text-decoration: underline;
        }
    }
}