//@import url('https://fonts.googleapis.com/css?family=Lora:400i|Inconsolata');


.measure-area {
    $ruler-height: 50px;
    $ruler-displacement: 24px;
    @include font-smoothing;
    position: relative;
    height: calc(100vh - 240px);

    .letter {
        font-size: 1000px;
        line-height: 1000px;
        color: $color-dark;
        font-weight: 400;
        font-style: italic;
        position: absolute;
        z-index: 1;
        text-align: right;
        right: 50%;
        bottom: $ruler-displacement;  
        z-index: 1;
        pointer-events: none;
    }

    .ruler {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: $ruler-height;
        cursor: -webkit-grab;
        cursor: -moz-grab;
        cursor: grab;
        z-index: 100;
        display: flex;

        &.is-dragging {
            cursor: -webkit-grabbing;
            cursor: -moz-grabbing;
            cursor: grabbing;
        }

        hr {
            border: none;
            border-top: 2px dashed $color-background;
            margin-top: $ruler-displacement;
            width: 100%;
        }

        .ruler-box {
            font-family: $body-font;
            font-weight: 400;
            color: $color-background;
            position: absolute;
            bottom: 11px;
            right: 25%;
            background-color: $color-accent;
            width: 100px;
            height: 28px;
            font-size: 32px;
            line-height: 28px;
            text-align: center;
        }
    }
}