.panel {
	height: calc(100vh - 200px);
	position: absolute;
	z-index: 150;
	display: none;
	background-color: $color-accent;
	top: 0;
	left: 0;

	h1, p {
		@include font-smoothing;
		font-family: $header-font;
		font-weight: 700;
		color: $color-dark;
		position: absolute;
		bottom: 40px;
		left: 4rem;
		font-style: italic;
		
		@media (max-width: 1100px) {
            bottom: 20px;
			left: 2rem;
        }
	}

	h1 {
		font-size: 6rem;
	}

	p {
		font-size: 3rem;
	}
}

.show-intro .intro,
.show-loading .loading,
.show-error .error {
    display: block;
}