html {
	font-size: 8px;
}

$header-font: ('Lora', serif);
$header-baseline: 0.121;

$body-font: ('Lato', sans-serif);
$body-baseline: 0.113;

$code-font: ('Inconsolata', monospace);
$code-baseline: 0.166;

$gh: 1rem;