@import url('https://fonts.googleapis.com/css?family=Lora:700i|Lato:400');

html {
	font-size: 8px;
}

$header-font: ('Lora', serif);
$header-baseline: 0.120850;

$body-font: ('Lato', sans-serif);
$body-baseline: 0.113000;

$gh: 1rem;