// *** PLUMBER - Real baseline grids with SASS ***

// Sets the origin of the leadings to the baseline
// Override it to set the origin to the edges of the text block
$plumber-leadings-from-baseline: false !default;

@mixin plumber(
	$font-size,
	$line-height,
	$leading-top: null,
	$leading-bottom: null,
	$grid-height: $plumber-grid-height,
	$baseline: $plumber-baseline
) {
	// *** VALIDATE PARAMETERS ***
	@if $font-size <= 0 {
		@error '$font-size parameter must be a positive number, got #{$font-size} instead';
	}	
	@if not unitless($line-height) or $line-height != round($line-height) or $line-height < 1 {
		@error '$line-height parameter must be a positive integer, got #{$line-height} instead';
	}
	@if unitless($grid-height) or $grid-height < 0 {
		@error '$grid-height parameter must be a positive unit, got #{$grid-height} instead';
	}
	@if not (unitless($baseline) and $baseline >= 0 and $baseline < 1) {
		@error '$baseline parameter must be a number between 0 and 1, got #{$baseline} instead';
	}

	// *** CALCULATE BASELINE CORRECTION ***
	// the distance of the original baseline from the bottom
	$baseline-from-bottom: ($line-height - $font-size) / 2 + ($font-size * $baseline);
	// the corrected baseline will be on the nearest gridline
	$corrected-baseline: round($baseline-from-bottom);
	// the difference between the original and the corrected baseline
	$baseline-difference: $corrected-baseline - $baseline-from-bottom;

	// *** CALCULATE LEADINGS ***
	// apply zero top leading if missing or validate if specified
	@if not $leading-top {
		$leading-top: 0;
	} @else if not -plumber-is-integer($leading-top) {
		@error '$leading-top parameter must be a non-negative integer, got #{$leading-top} instead.';
	}
	// apply zero bottom leading if missing or validate if specified
	@if not $leading-bottom {
		$leading-bottom: 0;
	} @else if not -plumber-is-integer($leading-bottom) {
		@error '$leading-bottom parameter must be a non-negative integer, got #{$leading-bottom} instead';
	}
	// if baseline origin is used for leadings substract the distance of the baseline from the edges
	@if $plumber-leadings-from-baseline {
		$leading-top: $leading-top - ($line-height - $corrected-baseline);
		$leading-bottom: $leading-bottom - $corrected-baseline;
	}

	// *** CALCULATE MARGINS AND PADDINGS ***
	$padding-top: null;
	$margin-top: null;
	$margin-bottom: null;
	$padding-bottom: null;
	
	@if $baseline-difference < 0 {
		// add top leading
		$margin-top: $leading-top;
		// push the baseline down to the next gridline
		$padding-top: - $baseline-difference;
		// add the remaining distance to reach the next gridline
		$padding-bottom: 1 + $baseline-difference;
		// add bottom leading and remove the 1 excess grid height that comes from pushing down
		$margin-bottom: $leading-bottom - 1;
	} @else {
		// add top leading and remove the 1 excess grid height that comes from pulling up
		$margin-top: $leading-top - 1;
		// pull the baseline up to the previous gridline
		$padding-top: 1 - $baseline-difference;
		// add the remaining distance to reach the next gridline
		$padding-bottom: $baseline-difference;
		// add bottom leading
		$margin-bottom: $leading-bottom;
	}
	
	// *** CSS OUTPUT ***
	font-size: $font-size * $grid-height;
	line-height: $line-height * $grid-height;
	margin-top: $margin-top * $grid-height;
	padding-top: $padding-top * $grid-height;
	padding-bottom: $padding-bottom * $grid-height;
	margin-bottom: $margin-bottom * $grid-height;
}

// Check if a value is a non-negative integer
@function -plumber-is-integer($value) {
	@return (unitless($value) and $value == round($value));
}