@import "https://fonts.googleapis.com/css?family=Merriweather+Sans|Merriweather:400,400i";

%header-font-family {
	font-family: "Merriweather Sans", Helvetica, Arial, sans-serif;
}

%body-font-family {
	font-family: "Merriweather Sans", Georgia, Times, serif;
}

%code-font-family {
	font-family: "Consolas", "Monaco", Courier, monospace;
}