@import "https://fonts.googleapis.com/css?family=Merriweather+Sans|Merriweather:400,400i";

$header-font-family: ("Merriweather Sans", Helvetica, Arial, sans-serif);

$body-font-family: ("Merriweather", Georgia, Times, serif);

$code-font-family: ("Consolas", "Monaco", Courier, monospace);