
h1, h2, h3 {
	font-family: $font;
	font-weight: 300;
}

h1, h2, h3 {
	color: $color-medium;
}

h1 {
	@include plumber(
		$font-size: 4,
		$leading-top: 5,
		$line-height: 5,
		$leading-bottom: 3
	);
}

h2 {
	@include plumber(
		$font-size: (24/9),
		$leading-top: 4,
		$line-height: 3,
		$leading-bottom: 2
	);
}

h3 {
	@include plumber(
		$font-size: 2,
		$leading-top: 3,
		$line-height: 3,
		$leading-bottom: 1
	);
}