
h1, h2, h3, h4, h5, h6 {
	font-family: $header-font;
}

h1, h2, h3, h4 {
	color: $color-accent;
}

h5, h6 {
	color: $color-medium;
}

h1 {
	@include plumber(
		$font-size: 6.625,
		$leading-top: 6,
		$line-height: 8,
		$leading-bottom: 3
	);
}

h2 {
	@include plumber(
		$font-size: 3.875,
		$leading-top: 3,
		$line-height: 6,
		$leading-bottom: 1
	);
}

h3 {
	@include plumber(
		$font-size: 2.625,
		$leading-top: 3,
		$line-height: 4,
		$leading-bottom: 1
	);
}