header {
	font-family: $body-font;
	background: $color-dark;
	height: 44px;
	border-bottom: 4px solid $color-accent;

	a {
		color: $color-background;

		&.active,
		&:hover {
			color: $color-accent;
		}
	}
}