figure {
	img {
		display: block;
		margin-top: 3 * $gh;
		margin-bottom: 2 * $gh;
		width: 320px;

		&.leading-origin,
		&.terms {
			height: 280px;
		} 

		&.font-anatomy {
			height: 160px;
		}
	}
}