// === Typography ===
@import "https://fonts.googleapis.com/css?family=Merriweather+Sans|Merriweather:400,400i";

$header-font: ("Merriweather Sans", Helvetica, Arial, sans-serif);
$body-font: ("Merriweather", Georgia, Times, serif);
$code-font: ("Consolas", "Monaco", Courier, monospace);

$plumber-grid-height: 0.5rem;
$plumber-baseline: 0.855;

// === Colors ===
$color-dark: #2a2a2a;
$color-medium: #585858;
$color-light: #d4d4d4;
$color-accent: #bd2d2d;
$color-background: #fcfcfc;