$content-width: 70rem;

body {
    background-color: $color-background;

    &.grid {
        @include grid-background(fade-out($color-accent, 0.5), $gh);
    }
}

main {
    width: 100%;
    max-width: $content-width;
    margin: (5 * $gh) auto;
    padding: 0 40px;
    overflow: hidden;

    @media all and (max-width: $content-width) {
        padding: 0 20px;
    }
}