$content-width: 70rem;

body {
    //@include grid-background(rgba(255,0,0,0.2), 10px);
    background-color: $color-background;
}

main {
    width: 100%;
    max-width: $content-width;
    margin: 0 auto;
    padding: 0 40px;
    @media (max-width: $content-width) {
        padding: 0 20px;
    }
    overflow: hidden;
    //background-color: $color-background;
}