table {
	border-collapse: collapse;
	border-spacing: 0;
	//line-height: 16px;
	//font-size: 14px;
	table-layout: fixed;

	&.parameters col {
		width: 25%;
	}

	tr {
		margin-top: -1px;
		border-bottom: 1px solid $color-light;
	}

	thead tr {
		border-bottom-color: $color-accent;		
	}


	th, td {
		text-align: left;
		vertical-align: top;
		@include plumber(
			$font-size: 14/8,
			$line-height: 2,
			$leading-top: 0,
			$leading-bottom: 1,
			$baseline: $baseline-body
		);
		padding-left: 1rem;
	}
}