p {
	@include plumber(
		$font-size: 2,
		$leading-top: 0,
		$line-height: 3,
		$leading-bottom: 1,
		$baseline: $baseline-body
	);
}

ul {
	margin-top: $plumber-grid-height * 2;
	margin-bottom: $plumber-grid-height * 3;
}

li {
	@include plumber(
		$font-size: 2,
		$leading-top: 0,
		$line-height: 3,
		$leading-bottom: 1,
		$baseline: $baseline-body
	);
	margin-left: 1em;
}