	.toggle-grid {
		width: 48px;
		height: 48px;
		border-radius: 50%;
		font-size: 14px;
		position: fixed;
		right: 20px;
		bottom: 20px;
		background-color: $color-accent;
		color: $color-medium;
		text-align: center;
		text-transform: uppercase;
		line-height: 48px;
		cursor: pointer;
		-webkit-backface-visibility: hidden;

		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;

		@media all and (max-width: 639px) {
			right: 10px;
			bottom: 10px;
			width: 36px;
			height: 36px;
			font-size: 12px;
			line-height: 36px;
		}


		&:hover {
			color: $color-dark;
		}
	}
