// *** Variables ***
@import url('https://fonts.googleapis.com/css?family=Lora:700i|Lato:400,700|Inconsolata');

$header-font: ('Lora', serif);
$header-baseline: 0.120850;

$body-font: ('Lato', sans-serif);
$body-baseline: 0.113000;

$code-font: ('Inconsolata', monospace);
$code-baseline: 0.165500;

$gh: 10px;

@include plumber-set-defaults(
	$font-size: 2,
	$baseline: $body-baseline,
	$grid-height: $gh,
	$leading-bottom: 2
);

html {
    font-size: $gh;
    font-family: $body-font;
    font-weight: 400;
}

main {
	// *** Headers ***
	h1, h2, h3 {
		font-family: $header-font;
		font-style: italic;
		font-weight: 700;
		color: $color-medium;
		@include font-smoothing;
	}

	h1 {
		@include plumber(
			$font-size: 4.8,
			$line-height: 5,
			$leading-top: 5,
			$leading-bottom: 4,
			$baseline: $header-baseline
		);
	}

	h2 {
		@include plumber(
			$font-size: 3.2,
			$line-height: 4,
			$leading-top: 6,
			$baseline: $header-baseline
		);
	}

	h3 {
		@include plumber(
			$font-size: 2.5,
			$line-height: 3,
			$leading-top: 5,
			$baseline: $header-baseline
		);
	}


	// *** Body text ***
	p {
		@include plumber();
	}

	p.note,
	figcaption {
		@include plumber(
			$font-size: 1.6,
			$leading-top: -1
		);
		@include font-smoothing;
		color: $color-medium;
	}



	// *** Lists

	ul {
		@include plumber-box(
			$margin: 2 3
		);
	}

	li {
		@include plumber(
			$leading-bottom: 1
		);
		margin-left: 1em;
	}

	// *** Inline elements ***

	strong {
		font-weight: 700;
	}

	span.note-sign {
		color: $color-medium;
	}

	a {
		color: $color-link;
	}

	// sup messes up the line height
	sup {
		vertical-align: top;
		font-size: 0.75em;
		position: relative;
		top: -0.25em;
	}
}
