header {
	@include font-smoothing;
	height: 40px;
	line-height: 40px;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	font-size: 16px;
	padding: 0 30px;
	text-transform: uppercase;
	z-index: 1000;

	@media all and (max-width: 639px) {
		font-size: 14px;
		padding: 0 6px;
	}

	ul {
		list-style: none;
		display: flex;
		justify-content: flex-end;

		@media all and (max-width: 639px) {
			justify-content: center;
		}
	}

	li {
		display: inline-block;
		text-align: center;

		@media all and (max-width: 639px) {
			flex-grow: 1;
		}
	}

	a {
		text-decoration: none;
		display: inline-block;
		height: 40px;
		padding: 0 20px;

		@media all and (max-width: 639px) {
			padding: 0 6px;
		}
	}

	img.github {
		width: 30px;
		height: 30px;
		margin-top: 5px;
	}
}