@mixin align($font-size, $line-height, $leading-top, $leading-bottom, $baseline) {
	// Calculate variables 
	$font-size: $font-size * $module;
	$line-height: $line-height * $module;
	$leading-top: $leading-top * $module;
	$leading-bottom: $leading-bottom * $module;	
	$baseline-correction: get-baseline-correction($font-size, $line-height, $baseline);
	
	// CSS output (in logical order)
	font-size: $font-size;
	
	// Keep the text around the middle of the line height
	@if ($baseline-correction > $module / 2) {
		// Push baseline down to the next gridline
		margin-top: $leading-top;
		padding-top: $module - $baseline-correction;
	} @else {
		// Pull baseline up to the previous gridline
		margin-top: $leading-top - $baseline-correction;
		padding-top: 0;
	}

	line-height: $line-height;
	padding-bottom: $baseline-correction;
	margin-bottom: $leading-bottom;
}

@mixin plumber($module, $tags) {
	@each $tag, $styles in $tags {
		$font-size: map-get($styles, font-size);
		$leading-top: map-get-if-integer($styles, leading-top);
		$line-height: map-get-if-integer($styles, line-height);
		$leading-bottom: map-get-if-integer($styles, leading-bottom);
		$baseline: get-baseline(map-get($styles, font-family));
		
		#{$tag} {
			@include align($font-size, $line-height, $leading-top, $leading-bottom, $baseline);
		}
	}
}