@mixin plumber($font-size, $leading-top, $line-height, $leading-bottom, $grid-height: $plumber-grid-height, $baseline: $plumber-baseline) {
	// Check parameters
	@if (not plumber-is-valid($leading-top)) {
		@error "$leading-top parameter must be a positive integer, got #{$leading-top} instead.";
	}

	@if (not plumber-is-valid($line-height)) {
		@error "$line-height parameter must be a positive integer, got #{$line-height} instead";
	}

	@if (not plumber-is-valid($leading-bottom)) {
		@error "$leading-bottom parameter must be a positive integer, got #{$leading-bottom} instead";
	}

	// Calculate variables 
	$font-size: $font-size * $grid-height;
	$line-height: $line-height * $grid-height;
	$leading-top: $leading-top * $grid-height;
	$leading-bottom: $leading-bottom * $grid-height;
	$baseline-correction: plumber-get-baseline-correction($font-size, $line-height, $grid-height, $baseline);
	
	// CSS output (in logical order)
	font-size: $font-size;
	
	// Keep the text around the middle of the line height
	@if ($baseline-correction > $grid-height / 2) {
		// Push baseline down to the next gridline
		margin-top: $leading-top;
		padding-top: $grid-height - $baseline-correction;
	} @else {
		// Pull baseline up to the previous gridline
		margin-top: $leading-top - $baseline-correction;
		padding-top: 0;
	}

	line-height: $line-height;
	padding-bottom: $baseline-correction;
	margin-bottom: $leading-bottom;
}